@model GigHub.ViewModels.GigViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>

<ul class="gigs voffset40">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li class="row">
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name

                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Cancelled</span>
                    }

                    @if (Model.ShowActions)
                    {
                        <i data-followee-id="@gig.Artist.Id" class="fa fa-heart-o js-toggle-follow" aria-hidden="true"></i>
                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attandance">Going ?</button>
                }
            </div>
        </li>
    }
</ul>
@section scripts 
{
    <script>
        $(document).ready(function () {

            $('.js-toggle-attandance').click(function(e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button
                            .removeClass('btn-default')
                            .addClass('btn-info')
                            .text("Going")
                    })
                    .fail(function () {
                        alert("Something went wrong!/attendance");
                    });
            });

            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-followee-id") })
                    .done(function () {
                        button.removeClass('fa-heart-o')
                            .addClass('fa-heart');
                    })
                    .fail(function () {
                        alert("Something went wrong!/follow");
                    });
            }); 
        });
    </script>
}